.footer {
  padding-top: 67px;
  background-color: $brown-b4;
  address {
    line-height: 2.4;
    a {
      line-height: 1.5;
      display: inline-block;
    }
  }
  .logo-top {
    width: 356px;
    margin-left: -25px;
    margin-bottom: 40px;
  }
  h5 a,
  li a {
    text-decoration: none;
  }
}
.footer-menu {
  margin-bottom: 50px;

  li {
    line-height: (20/14);
    margin-bottom: 20px;
  }
}
.footer-copyright {
  @extend %parent-link-inhert;
  font-size: rem(16);
}
.logo-footer-us {
  margin: -50px auto 0;
  p {
    font-size: rem(18);
    font-weight: bold;
  }
  .social {
    li {
      background-color: $red;
      @include sizeEx(37px);
      border-radius: 50%;
    }
    a {
      padding: 9px;
    }
  }
}
.footer-item-col {
  max-width: 100%;
  // padding: 0 35px;
  padding-left: 25px;
  padding-right: 55px;
}
@include media-breakpoint-down(lg) {
  .footer-top {
    padding: 0 5px 0 53px;
  }
  .footer {
    .logo-top {
      width: 280px;
      margin-left: -25px;
      margin-bottom: 27px;
    }
  }
  .logo-footer-us {
    .social {
      li {
        @include sizeEx(45px);
      }
      a {
        padding: 13px;
      }
    }
  }
}
