<footer id="footer" class="module footer text-white">
  <div class="container footer-top">
    <img data-src="../assets/images/Archangel-Logo-white.svg" alt="" class="lazy logo-top img-svg" />
    <div class="row">
      <div class=" footer-item-col">
        <h5>
          <a href="#">Products & Services</a>
        </h5>
        <ul class="list-unstyled d-none d-md-block footer-menu">
          <li>
            <a href="#">Antibiotic Based</a>
          </li>
          <li>
            <a href="#">Antibiotic-Free</a>
          </li>
          <li>
            <a href="#">Front-End Microbials</a>
          </li>
          <li>
            <a href="#">Lab Services</a>
          </li>
        </ul>
      </div>

      <div class=" footer-item-col ">
        <h5>
          <a href="#">Industries</a>
        </h5>
        <ul class="list-unstyled d-none d-md-block footer-menu">
          <li>
            <a href="#">Biofuels</a>
          </li>
          <li>
            <a href="#">Beverage Alcohol</a>
          </li>
          <li>
            <a href="#">Aquaculture</a>
          </li>
          <li>
            <a href="#">Agriculture</a>
          </li>
        </ul>
      </div>
      <div class=" footer-item-col">
        <h5>
          <a href="#">Innovation</a>
        </h5>
        <ul class="list-unstyled  d-none d-md-block footer-menu">
          <li>
            <a href="#">GenesisGeneTM</a>
          </li>
          <li>
            <a href="#">Packaging</a>
          </li>
        </ul>
      </div>
      <div class="footer-item-col">
        <div class="footer-item-col">
          <h5>
            <a href="#">About</a>
          </h5>
          <ul class="list-unstyled d-none d-md-block footer-menu">
            <li>
              <a href="#">News</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-item-col">
        <h5>
          <a href="#">Contact </a>
        </h5>
        <address>

          <a href="tel:+12819944600"> (877) 453-0940
          </a>
          <br />
          <a href="mailto:mailname@gmail.com">info@archangelbio.com</a>
        </address>
        <div class="logo-footer-us mt-2 d-lg-none d-block">
          <div class="social">
            <p>Follow us</p>
            {% include "modules/global/social.html" %}
          </div>
        </div>
      </div>
      <div class="logo-footer-us">
        <img class="d-lg-block d-none" src="../assets/images/Archangel-Icon-White.svg" alt="Frontend starter">
        <div class="social d-lg-block d-none">
          <p>Follow us</p>
          {% include "modules/global/social.html" %}
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center last-mb-none">
    <p class="footer-copyright">
      Copyright © 2018-2019 9thWonder |
      <a href="#">Private Policy</a> |
      <a href="#">Disclaimer</a>
    </p>
  </div>
</footer>
