// module 'Mod Banner'
.mod-banner {
  .container {
    max-width: 1857px;
  }
  .btn {
    min-width: 276px;
    padding: 14px 0;
  }
}
.banner-slide {
  padding: 0;
  z-index: 1;
}

@include media-breakpoint-down(lg) {
  .banner-slide {
    padding: 0;

    .bg-banner {
      padding-bottom: 77%;
    }
    img {
      bottom: -27px;
      position: absolute;
      height: 162px;
      left: 10px;
    }
  }
  .banner-content {
    h1 {
      font-size: rem(48);
      line-height: 1.08;
      margin-bottom: 0;
    }
    padding: 65px 30px 35px;
    p {
      margin: 10px auto;
    }

  }
  .header-mobile {
    padding: 6px 0 7px 15px;
  }
  .header-logo {

    margin-left: -12px;
    img {
      max-width: 42%;
      width: 100%;
    }
  }
}
