// module 'Mod Content Proetect'
.mod-content-proetect {
  .img-card {
    padding-bottom: 335px;
  }
}
.protect-items {
  padding: 0 5px;
}
@include media-breakpoint-down(lg) {
  .prtect-title {
    max-width: 300px;
  }
}
