// module 'Mod Content About'
.mod-content-about {
  h5 {
    font-weight: 300;
  }
  img {
    width: 100%;
  }
  h2 {
    font-size: rem(42);
    max-width: 455px;
  }
  .btn {
    min-width: 279px;
    padding: 12px 5px;
    margin: 37px 0;
  }
}
.about-slide {
  margin-top: 25px;
}
.ab-slide-img {
  width: 100%;
}
.ab-slide-info {
  padding: 91px 50px;
  h3 {
    font-size: rem(28);
  }
}
.about-menu {
  a {
    text-decoration: none;
  }
  h2 {
    max-width: 95%;
  }
  li {
    font-size: rem(20);
    font-weight: 600;
    color: $black;
    list-style: none;
    padding-right: 3vw;
    &:hover {
      padding-bottom: 13px;
      border-bottom: 5px solid $brown-b4;
    }
  }
  ul {
    display: flex;
    margin-left: -35px;
  }
  hr {
    height: 1px;
    margin-top: -25px;
    background-color: $brown-b4;
  }
}
.about-main {
  > p {
    font-weight: 600;
    list-style: none;
    padding: 15px 0;
    border-bottom: 2px solid $brown-b4;
  }
}
@include media-breakpoint-down(lg) {
  .mod-content-about {
    img {
      width: 100%;
      margin-left: 0;
    }
    .ab-slide-info {
      padding: 15px;
      h3 {
        font-size: rem(22);
      }
    }
    .btn {
      margin: -3px 0 0 20px;
    }
  }
}
