@include media-breakpoint-up(lg) {
  .banner-slide {
    img {
      position: absolute;
      bottom: -76px;
      height: 369px;
    }
    .bg-banner {
      min-height: 759px;
      min-width: 50vw;
      width: 100%;
    }
  }
  .banner-content {
    h1 {
      font-size: rem(72);
      margin-top: 68px;
    }
    p {
      // font-size: rem(18);
      max-width: 784px;
      margin-bottom: 50px;
    }
  }
  .banner-main {
    padding: 92px 0;
  }
}
@include media-breakpoint-up(xl) {
  .banner-slide {
    h1 {
      font-size: rem(72);
    }
    img {
      left: -26%;

    }
  }
}
