@include media-breakpoint-up(md) {
  .mod-content-proetect {
    .img-card {
      padding-bottom: 289px;
    }
  }
  .protect-items {
    padding: 0 41px;
  }
}
@include media-breakpoint-up(lg) {
  .protect-items {
    width: calc(100vw - 154px);
    padding: 0 5px;
  }

}


@include media-breakpoint-up(xl) {
  .mod-content-proetect {
    .img-card {
      padding-bottom: 460px;
    }
    h3{
      font-size: 42px;
      line-height: 1.14;
      max-width: 851px;
    }
  }
  .protect-items {
    margin: 63px 0;
    padding: 0 10px;
    width: calc(100vw - 314px);
  }
}
