@include media-breakpoint-up(lg) {
  .about-main {
    display: none;
    &.is-show {
      display: block;
    }
  }
}
@include media-breakpoint-up(xl) {
  .about-menu {
    h2 {
      width: 35%;
      margin-bottom: 55px;
    }
    li {
      padding-right: 148px;
    }
  }
}
