@include media-breakpoint-up(lg) {
  .img-card {
    padding-bottom: 116.5%;
  }
  .protect-items {
    width: calc(100vw - 300px);
  }
  .about-main {
    display: none;
    &.is-show {
      display: block;
    }
  }
}
