@include media-breakpoint-up(lg) {
  .proactive-img {
    .bg-image-proactive {
      @include sizeEx(50vw,100%);
    }
  }
  .proactive-content {
    @include sizeEx(100%,784px);
    img {
      position: relative;
      @include sizeEx(53px,118px);
      margin-top: -62px;
    }
  }
  .proactive-main {
    p {
      max-width: 500px;
    }
    .btn {
      margin-top: 32px;
    }
  }
}
